[Unit]
Description=IDrive backup service

[Service]
ExecStart=%h/bin/idrive_backup/idrive_backup
WorkingDirectory=%h/bin/idrive_backup
Nice=19
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
Restart=on-failure
RestartSec=300
