[Unit]
Description=IDrive backup service

[Service]
ExecStart=schedtool -D -n19 -e ionice -c3 %h/bin/idrive_backup/idrive_backup
WorkingDirectory=%h/bin/idrive_backup
Restart=on-failure
RestartSec=300
